.App {
  text-align: center;
}

.App-header {
  background-color: #c9cbcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button {
  border: 2px solid #000;
}
.button:hover {
  background: #000;
  color: #fff;
}
.button:active {
  top: 2px;
}
